<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg changeColor">
        <a class="navbar-brand changeColor">
            @Html.ActionLink("Anime", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </a>
        <div class="collapse navbar-collapse changeColor" id="navbarNav">
            <ul class="nav navbar-nav changeColor">
                <li>
                    @Html.ActionLink("CategoryList", "CategoryList", "Admin")
                </li>
                <li>
                <li class="changeColor">@Html.ActionLink("Watch", "Index", "User")</li>
                <div style="padding-top: 12px">
                    <div class="custom-checkbox">
                        <input class="custom-checkbox-input" type="checkbox" id="custom-checkbox-discovery" />
                        <label class="custom-checkbox-label" for="custom-checkbox-discovery">
                            <label class="custom-checkbox-label-aux" for="custom-checkbox-discovery"></label>
                    </div>
                </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 50px">
                @Html.Partial("_LoginPartial")

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>